	<!--main-section-->
		<main class="main-container center">
			<!-- sign up form-->
			<section class="signup-form">
				<div class="title center">
					<span>Edit account </span>
				</div>
        <%= render "form" %>
			</section>
		</main>